{%extends 'layout.html'%}

{%block body%}

<h2>Bienvenido {{ nombre }} </h2>

<h3>Menu</h3>
<ol>
  <li><a href="/allclient">Clientes Registrados</a></li>
  <li><a href="/">Salir</a></li>
</ol>

{% with msg = get_flashed_messages()%}

{%if msg%}
{%for item in msg%}
<div class="alert alert-warning" role="alert">
  <p>{{ msg }}</p>
</div>
{%endfor%}
{%endif%}

{%endwith%}

{%endblock%}
