{%extends 'layout.html'%}

{%block body%}

<h3>Ubicaciones Registradas</h3>

<table>
  <thead>
    <tr>
    <td>ID </td>
    <td>Nombre</td>
    </tr>
  </thead>

  <tbody>
    {%for item in ubicaciones%}
    <tr>
      <td>{{ item.0 }}</td>
      <td>{{ item.2 }}</td>
      <td><a href="/modloc/{{item.0}}">Editar</a></td>
      <td><a href="/deleteloc/{{item.0}}">Borrar</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{% with msg = get_flashed_messages()%}

{%if msg%}
{%for item in msg%}
<div class="alert alert-warning" role="alert">
  <p>{{ msg }}</p>
</div>
{%endfor%}
{%endif%}

{%endwith%}

{%endblock%}
