{%extends 'layout.html'%}

{%block body%}

<h3>Clientes Registrados</h3>

<table>
  <thead>
    <tr>
    <td>Rut</td>
    <td>Nombre</td>
    <td>Direccion</td>
    </tr>
  </thead>

  <tbody>
    {%for item in clientes%}
    <tr>
      <td>{{ item.0 }}</td>
      <td>{{ item.1 }}</td>
      <td>{{ item.2 }}</td>
      <td><a href="/editclient/{{item.0}}">Editar</a></td>
      <td><a href="/deleteclient/{{item.0}}">Borrar</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{% with msg = get_flashed_messages()%}

{%if msg%}
{%for item in msg%}
<div class="alert alert-warning" role="alert">
  <p>{{ msg }}</p>
</div>
{%endfor%}
{%endif%}

{%endwith%}

{%endblock%}
