{%extends 'layout.html'%}

{%block body%}

<h3>Editar datos</h3>

<form action="/update/{{data.0}}" method = "POST">
   <p>Rut: <input type = "integer" name = "Rut" value = {{data.0}}></p>
   <p>Nombre: <input type = "text" name = "Nombre" value = {{data.1}}></p>
   <p>Direccion: <input type = "text" name = "Direccion" value = {{data.2}}></p>
   <p>Password: <input type = "text" name = "password" value = {{data.3}}></p>
   <p><input type = "submit" value = "Registrar" /></p>
</form>


{%endblock%}
