{%extends 'layout.html'%}

{%block body%}

<h3>Registro de nuevo cliente</h3>

<form action="/addclient" method = "POST">
   <p>Rut: <input type = "integer" name = "Rut" ></p>
   <p>Nombre: <input type = "text" name = "Nombre" ></p>
   <p>Direccion: <input type = "text" name = "Direccion"></p>
   <p>Password: <input type = "text" name = "password"></p>
   <p><input type = "submit" value = "Registrar" ></p>
   <p><input type="reset"></p>
</form>


{% with msg = get_flashed_messages()%}

{%if msg%}
{%for item in msg%}
<div class="alert alert-warning" role="alert">
  <p>{{ msg }}</p>
</div>
{%endfor%}
{%endif%}

{%endwith%}

{%endblock%}
