{%extends 'layout.html'%}

{%block body%}


<h3>Datos de ubicacion </h3>

<form action="/addlocation/{{rut}}" method = "POST">
   <p>ID ubicaion: <input type = "integer" name = "id_ubicacion" /></p>
   <p>Nombre Ubicacion: <input type = "text" name = "nombre_ubicacion" /></p>
   <p><input type = "submit" value = "Registrar" /></p>
</form>

{% with msg = get_flashed_messages()%}

{%if msg%}
{%for item in msg%}
<div class="alert alert-warning" role="alert">
  <p>{{ msg }}</p>
</div>
{%endfor%}
{%endif%}

{%endwith%}

{%endblock%}
