{%extends 'layout.html'%}

{%block body%}

<h3>Editar datos</h3>

<form action="/updateloc/{{data.0}}" method = "POST">
   <p>Nombre: <input type = "text" name = "Nombre" value = {{data.2}}></p>
   <p><input type = "submit" value = "Registrar" /></p>
</form>


{%endblock%}
