{%extends 'layout.html'%}

{%block body%}

<h3>Ingreso</h3>

<form action="/intranet" method = "POST">
   <p>Rut: <input type = "text" name = 'Rut'></p>
   <p>Contrasena: <input type = "text" name = 'Contrasena'></p>
   <p><input type = "submit" value = "Ingresar" /></p>
   <p><input type="reset"></p>
</form>

{% with msg = get_flashed_messages()%}

{%if msg%}
{%for item in msg%}
<div class="alert alert-warning" role="alert">
  <p>{{ msg }}</p>
</div>
{%endfor%}
{%endif%}

{%endwith%}

{%endblock%}
