{%extends 'layout.html'%}

{%block body%}

<h2>Bienvenido {{ nombre }} </h2>

<h3>Menu</h3>
<ul>
  <li><a href="/allocation/{{rut}}">Ver ubicaciones Registradas</a></li>
  <li><a href="/reglocation/{{rut}}">Registar nueva ubicacion</a></li>
  <li><a href="/editclient/{{rut}}">Modificar datos</a></li>
  <li><a href="/reading">Iniciar lectura</a></li>
  <li><a href="/">Salir</a></li>
</ul>

{% with msg = get_flashed_messages()%}

{%if msg%}
{%for item in msg%}
<div class="alert alert-warning" role="alert">
  <p>{{ msg }}</p>
</div>
{%endfor%}
{%endif%}

{%endwith%}

{%endblock%}
